.codearea {
  height: 100%;
  background-color: #12202f;
  flex: 0 0 70%;
  position: relative;
  display: flex;
  justify-content: center;
  border-right: 1px solid #fff8;
  box-sizing: border-box;
}

.codeareap {
  font-weight: 900;
  position: absolute;
  left: 5%;
  font-style: italic;
  color: antiquewhite;
  font-size: xx-large;
  top: 2%;
}

.codewritearea {
  border-radius: 18px;
  background-color: #3d3d3d;
  flex: 0 0 90%;
  margin: 5%;
}
