.outputarea {
  height: 35%;
  background-color: rgb(61, 61, 61);
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff8;
}

.outputtext {
  position: absolute;
  left: 5%;
}

.textarea {
  flex: 0 0 90%;
  background-color: #1e1e1e;
  margin: 3%;
  padding: 2%;
  color: white;
}
