.outputarea {
  height: 35%;
  background-color: #12202f;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid #fff8;
}

.outputtext {
  position: absolute;
  color: antiquewhite;
  font-style: italic;
  left: 5%;
}

.textarea {
  flex: 0 0 90%;
  background-color: black;
  margin: 3%;
  padding: 2%;
  color: white;
}
